
{% load static %}
{% block content %}


    <link rel="stylesheet" href="{% static 'counsellor_dashboard.css' %}">
  <body style="background-color: lightblue;">
    <nav class="navbar">
    <div class="navbar-brand">Help Mind</div>
    <ul class="navbar-links">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'counsellor_profile' %}">Profile</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
    </nav>
  <h2 style="color:#0e7390;">Welcome, {{ user.username }}!</h2>
  <section class="profile-section">
      <h2>👤 Your Profile</h2>
      <div class="profile-box">
        <p><strong>Age:</strong> {{ user.counsellor.age }}</p>
        <p><strong>Experience:</strong> {{ user.counsellor.experience }}</p>
        <p><strong>Specialization:</strong> {{ user.counsellor.specialization }}</p>
        <p><strong>Description:</strong> {{ user.counsellor.description }}</p>
      </div>
    </section>
  <h2 style="color: #0e7390;">Your Bookings:</h2>

  <table border="1">
    <tr>
      <th>Client</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    {% for b in bookings %}
    <tr>
      <!-- show just client username -->
      <td>{{ b.client.user.username }}</td>  

      <td>
        {% comment %} {% if b.status == "pending" %}
          <span style="color: orange;">Pending</span>
        {% elif b.status == "approved" %}
          ✅ Scheduled for {{ b.approved_date }} at {{ b.approved_time }}
        {% endif %} {% endcomment %}
            
        {% if b.get_status_display == "Pending" %}
          <span style="color: orange;">Pending</span>
        {% elif b.get_status_display == "Approved" %}
          ✅ Scheduled for {{ b.approved_date }} at {{ b.approved_time }}
        {% endif %}


      </td>

      <td>
        {% if b.status == "pending" %}
          <a href="{% url 'approve_booking' b.id %}">Approve</a>
        {% else %}
          Approved
        {% endif %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">No bookings yet.</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
