        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .form-group input,
        .form-group select,
        .form-group textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 16px;
        }

        .error {
            color: red;
            font-size: 14px;
            margin-top: 5px;
        }

.btn {
    background-color: #009688;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.btn-articles:hover {
    background-color:  #00796b;
}
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: lightblue;
  color: #333;
  align-items:center;

}

.profile-box {
  background: white;
  padding: 1rem;
  border-left: 5px solid #0e7390;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem;
  border-radius: 5px;
}
