{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="{% static 'styleregister.css' %}">
 
</head>
<body>

  <div class="wrapper">
    <h2>Create your Account</h2>
    <form method="POST">
      {% csrf_token %}

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        
       
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" min="18" required><br><br>

        <label for="experience">Experience (in years):</label>
        <input type="number" id="experience" name="experience" min="0" required><br><br>

        <label for="specialization">Specialization:</label>
        <select name="specialization">
          <option>Select</option>
          <option value="stress_management">Stress Management</option>
          <option value="career_guidance">Career Guidance</option>
          <option value="mental_health">Mental Health Support</option>
          <option value="marriage_relationship">Marriage and Relationship</option>
          <option value="addiction">Addiction Counselling</option>
          <option value="grief_loss">Grief and Loss</option>
          <option value="self_esteem">Self-Esteem and Personal Growth</option>
          <option value="family_therapy">Family Therapy</option>
          <option value="trauma_ptsd">Trauma and PTSD</option>
          <option value="eating_disorders">Eating Disorders Support</option>
          <option value="child_adolescent">Child and Adolescent</option>
          <option value="anger_management">Anger Management</option>
          <option value="mindfulness">Mindfulness and Meditation</option>
          <option value="financial_stress">Financial Stress</option>
          <option value="lgbtq">LGBTQ+ Affirmative Therapy</option>
      </select><br><br>

        <label for="description">Description:</label>
        <textarea name="description" rows="4" placeholder="Write something about yourself..."></textarea><br><br>

         <label for="password1">Password:</label>
        <input type="password" id="password1" name="password1" required><br><br>

        <label for="password2">Confirm Password:</label>
        <input type="password" id="password2" name="password2" required><br><br>



        <button type="submit">Register</button>
    </form>
</div>
</html>
