{% load static %}
<html>
<head>
    <title>Approve Booking</title>
    <link rel="stylesheet" href="{% static 'style_approve.css' %}">
</head>
<body>

  <div class="form-container">
    <h2>Approve Request</h2>
    <form method="post">
      {% csrf_token %}
      {% comment %} {{ form.as_p }} {% endcomment %}
      <label for="date">Date:</label>
      <input type="date" id="date" name="date">

      <label for="time">Time:</label>
      <input type="time" id="time" name="time">

      <button type="submit">Approve</button>
    </form>
  </div>
</body>
</html>
