{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recommended Articles</title>
  <link rel="stylesheet" href="{% static 'article_style.css' %}">
</head>
{% comment %} <body><h2>Recommended Articles</h2>

{% if articles %}
  <ul>
    {% for article in articles %}
    <div class="articles">
      <li>
        <h3>{{ article.title }}</h3>
        <p><b>Category:</b> {{ article.category }}</p>
        <p>{{ article.description|linebreaksbr }}</p>
      </li>
    </div>
    {% endfor %}
  </ul>
{% else %}
  <p>No recommendations found. Add some interests!</p>
{% endif %} {% endcomment %}

<h2>Recommended Articles</h2>
<p>Based on your interests: {{ interests|join:", " }}</p>

<ul>
  {% for article in articles %}
    <li>
      <h3>{{ article.title }}</h3>
      <p><b>Category:</b> {{ article.category }}</p>
      <section class="profile-box">
      <p>{{ article.description|linebreaksbr }}</p>
      </section>
    </li>
  {% empty %}
    <li>No articles found matching your interests.</li>
  {% endfor %}
</ul>

</body>
</html>